{% extends "base.html" %} {%block extra_css%}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/builder.css')}}"
/>
{%endblock%} {% block body %}
<div class="builder">
  <div class="backdrop">
    <div class="modal">
      <h1 class="modal-title"></h1>
    </div>
  </div>
  <div class="control-panel">
    <form action="">
      <label for="team-name">Name of the team</label>
      <input
        type="text"
        name="Type name"
        id="team-name"
        class="team-name"
        required
      />
    </form>
    <p>Roaster :</p>
    <ul class="roaster"></ul>
    <button class="create-btn">Create Team</button>
  </div>
  <div class="pitch"></div>
</div>
<script
  src="{{url_for('static', filename='js/builder.js')}}"
  type="module"
></script>
{% endblock %}
